@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1675839112108') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-VIP:before {
  content: "\ff6c";
}

.icon-caiyi:before {
  content: "\ff6d";
}

.icon-chongzhi:before {
  content: "\ff6e";
}

.icon-daka:before {
  content: "\ff6f";
}

.icon-dengji:before {
  content: "\ff71";
}

.icon-dingwei:before {
  content: "\ff72";
}

.icon-dazhaohu:before {
  content: "\ff73";
}

.icon-gonggao:before {
  content: "\ff75";
}

.icon-guanzhu:before {
  content: "\ff76";
}

.icon-faxian:before {
  content: "\ff77";
}

.icon-hongbao:before {
  content: "\ff78";
}

.icon-huiyuan:before {
  content: "\ff7b";
}

.icon-huore:before {
  content: "\ff7c";
}

.icon-jiaoyou:before {
  content: "\ff7d";
}

.icon-jishiliaotian:before {
  content: "\ff7e";
}

.icon-liwu:before {
  content: "\ff7f";
}

.icon-luxiang:before {
  content: "\ff80";
}

.icon-renzheng:before {
  content: "\ff82";
}

.icon-meiyan:before {
  content: "\ff83";
}

.icon-renwu:before {
  content: "\ff84";
}

.icon-sousuo:before {
  content: "\ff86";
}

.icon-tuijian:before {
  content: "\ff87";
}

.icon-shipin:before {
  content: "\ff88";
}

.icon-youxi:before {
  content: "\ff89";
}

.icon-tonggao:before {
  content: "\ff8b";
}

.icon-xihuan:before {
  content: "\ff8c";
}

.icon-xiangce:before {
  content: "\ff8d";
}

.icon-shipinbofang:before {
  content: "\ff8e";
}

.icon-xiangqin:before {
  content: "\ff8f";
}

.icon-xinxi:before {
  content: "\ff91";
}

.icon-xindong:before {
  content: "\ff92";
}

.icon-xiaoxi:before {
  content: "\ff93";
}

.icon-yaoqing:before {
  content: "\ff94";
}

.icon-yinle:before {
  content: "\ff95";
}

.icon-zhibo:before {
  content: "\ff97";
}

.icon-zhibojian:before {
  content: "\ff98";
}

